@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700;900&family=Exo+2:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background: #000;
    color: #fff;
    font-family: 'Exo 2', sans-serif;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.intro {
    padding: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
    animation: fadeOut 3s forwards;
}

@keyframes fadeOut {

    0%,
    70% {
        opacity: 1
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.intro h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 8rem;
    background: linear-gradient(45deg, #00ffff, #ff00ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 0 80px #0ff;
}

.intro p {
    font-size: 3rem;
    color: #0ff;
    text-shadow: 0 0 50px #0ff;
}

.main {
    z-index: 5;
    text-align: center;
    opacity: 0;
    animation: fadeIn 2s 4s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 2;
    }
}

.main h2 {
    font-size: 6rem;
    margin: 80px 0;
    background: linear-gradient(90deg, #ff00ff, #00ffff, #ffff00);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 0 100px #f0f;
}

.buttons {
    margin-top: 120px;
    display: flex;
    gap: 100px;
    justify-content: center;
    flex-wrap: wrap;
}


.portal {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.8s;
    background: #000;
    box-shadow: 0 0 60px rgba(0, 255, 255, 0.9);
    text-decoration: none;
    z-index: 10;
}

.portal:hover {
    transform: scale(1.15);
}

/* 1-DARS – KO‘K */
.portal-1::before {
    background: conic-gradient(#00ffff, #00ffea, #00d2ff, #0099ff, #00ffff);
}

.portal-1:hover {
    box-shadow: 0 0 150px #0ff, 0 0 200px #0cf;
}

.portal-2::before {
    background: conic-gradient(#00ffff, #00ffea, #00d2ff, #0099ff, #00ffff);
}

.portal-2:hover {
    box-shadow: 0 0 150px #0ff, 0 0 200px #0cf;
}

.portal-3::before {
    background: conic-gradient(#00ffff, #00ffea, #00d2ff, #0099ff, #00ffff);
}

.portal-3:hover {
    box-shadow: 0 0 150px #0ff, 0 0 200px #0cf;
}

.portal-4::before {
    background: conic-gradient(#00ffff, #00ffea, #00d2ff, #0099ff, #00ffff);
}

.portal-4:hover {
    box-shadow: 0 0 150px #0ff, 0 0 200px #0cf;
}

.portal-5::before {
    background: conic-gradient(#00ffff, #00ffea, #00d2ff, #0099ff, #00ffff);
}

.portal-5:hover {
    box-shadow: 0 0 150px #0ff, 0 0 200px #0cf;
}

.portal-6::before {
    background: conic-gradient(#00ffff, #00ffea, #00d2ff, #0099ff, #00ffff);
}

.portal-6:hover {
    box-shadow: 0 0 150px #0ff, 0 0 200px #0cf;
}

.portal-7::before {
    background: conic-gradient(#00ffff, #00ffea, #00d2ff, #0099ff, #00ffff);
}

.portal-7:hover {
    box-shadow: 0 0 150px #0ff, 0 0 200px #0cf;
}

.portal-8::before {
    background: conic-gradient(#00ffff, #00ffea, #00d2ff, #0099ff, #00ffff);
}

.portal-8:hover {
    box-shadow: 0 0 150px #0ff, 0 0 200px #0cf;
}

.portal-9::before {
    background: conic-gradient(#00ffff, #00ffea, #00d2ff, #0099ff, #00ffff);
}

.portal-9:hover {
    box-shadow: 0 0 150px #0ff, 0 0 200px #0cf;
}

.portal-10::before {
    background: conic-gradient(#00ffff, #00ffea, #00d2ff, #0099ff, #00ffff);
}

.portal-10:hover {
    box-shadow: 0 0 150px #0ff, 0 0 200px #0cf;
}

.portal-11::before {
    background: conic-gradient(#00ffff, #00ffea, #00d2ff, #0099ff, #00ffff);
}

.portal-11:hover {
    box-shadow: 0 0 150px #0ff, 0 0 200px #0cf;
}

.portal-12::before {
    background: conic-gradient(#00ffff, #00ffea, #00d2ff, #0099ff, #00ffff);
}

.portal-12:hover {
    box-shadow: 0 0 150px #0ff, 0 0 200px #0cf;
}

.portal-13::before {
    background: conic-gradient(#00ffff, #00ffea, #00d2ff, #0099ff, #00ffff);
}

.portal-13:hover {
    box-shadow: 0 0 150px #0ff, 0 0 200px #0cf;
}

.portal-14::before {
    background: conic-gradient(#00ffff, #00ffea, #00d2ff, #0099ff, #00ffff);
}

.portal-14:hover {
    box-shadow: 0 0 150px #0ff, 0 0 200px #0cf;
}


/* QIZIQISHLAR – PUSHTI */
.qiziqish-1::before {
    background: conic-gradient(#ff00ff, #ff3399, #ff006e, #ffd500, #ff00ff);
}

.qiziqish-1:hover {
    box-shadow: 0 0 150px #f0f, 0 0 200px #f09;
}

.portal::before {
    content: '';
    position: absolute;
    inset: 0;
    animation: spin 8s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.portal::after {
    content: attr(data-title);
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 32px;
    font-weight: 900;
    color: white;
    text-shadow: 0 0 40px #000;
    z-index: 2;
}

.portal .core {
    position: absolute;
    inset: 12%;
    background: #000000;
    border-radius: 50%;
    z-index: 1;
}
.main{
    position: absolute;
    z-index: 1;
}
@media (max-width: 768px) {
    .buttons{
        display: flex;
        flex-wrap: wrap;
        margin: 2rem;
    }
    .intro h1{
         text-align: center;
         font-size: 4rem;
    }
  }